*{
    padding: 0;
    margin: 0;
}

#title
{
    background-color: pink;
    height: 100px;
    

}

 #change{

    height: 100px;
    width: 100px;
    background: pink;
 }


#change:hover{
    cursor: pointer;
    background : red;
  }